* {
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
  background-color: #fbfbfb;
}
.TodoApp {
  margin: 10px auto;
  min-width: 300px;
  max-width: 500px;
  border: 1px solid #00a3cf;
  background-color: #fff;
  padding: 20px;
  position: relative;
}

.sign-out {
  position: absolute;
  top: 50px;
  right: 60px;
  outline: none;
    display: inline-block;
    width: 3em;
    line-height: 1.5em;
    border: 1px solid #EE6A50;
    border-radius: 3px;
    background: transparent;
    cursor: pointer;
}
/* 输入框样式 */
.TodoInput {
  background-color: #fff;
  border: 1px solid #f1f1f1;
  padding: 20px;
  margin-bottom: 10px;
}
.TodoInput h2 {
  text-align: center;
  margin-bottom: 20px;
}
.TodoInput input {
  display: block;
  width: 90%;
  margin: 0 auto;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  padding: 5px;
  outline: none;
  resize: none;
}
.TodoInput input:focus {
  border: 1px solid #00a3cf;
}
.TodoList {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #f1f1f1;
  min-height: 400px;
}
.Todo {
  margin-bottom: 10px;
  border: 1px solid #EEAD0E;
  padding: 10px 20px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Todo p{
  flex-grow: 1;
  padding: 0 1em;
}
.Todo input {
  
}
.Todo span {
  font-size: 14px;
  border: 1px solid #EE6A50;
  border-radius: 3px;
  display: inline-block;
  padding: 4px;
  cursor: pointer;
}
