.TodoApp {
    width: 900px;
    margin: 40px auto;
    border: 1px solid #aaa;
}

.TodoApp h1 {
    font-size: 2em;
    line-height: 2em;
    border-bottom: 1px solid #aaa;
    text-align: center;
}

.TodoInput input {
    display: block;
    width: 600px;
    margin: 30px auto;
    font-size: 1.25em;
    height: 2rem;
}

.TodoApp ul {
    margin: 30px auto;
}

.TodoItem {
    width: 600px;
    margin: 20px auto;
    font-size: 1.25em;
    line-height: 2em;
    border: 1px dashed #aaa;
}