.TodoApp {
    background-image: linear-gradient(to right, blue, red, blue, red, blue);
    -webkit-background-clip: text;
    color: transparent;
    background-size: 200% 100%;
    animation: root01-color 3s infinite linear;
}

.TodoApp h1 {
    font-size: 2em;
}

.TodoInput input {
    width: 300px;
    height: 20px;
}

.TodoItem {
    color: #000;
}

@keyframes root01-color {
    0% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}

@keyframes root02-color {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}