.TodoApp {
    width: 900px;
    margin: 40px auto;
    border: 1px solid #aaa;
}

.TodoApp h1 {
    font-size: 2em;
    line-height: 2em;
    border-bottom: 1px solid #aaa;
    text-align: center;
}

.TodoInput input {
    display: block;
    width: 600px;
    margin: 30px auto;
    font-size: 1.25em;
    height: 2rem;
}

.TodoApp ul {
    margin: 30px auto;
}

.TodoItem {
    box-sizing: border-box;
    width: 600px;
    margin: 20px auto;
    font-size: 1.25em;
    line-height: 2em;
    border: 1px dashed #aaa;
    padding-left: 40px;
    position: relative;
}

.TodoItem input {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -10px;
}

.TodoItem span {
    display: inline-block;
    font-size: 1rem;
    width: 3em;
    line-height: 1.5em;
    text-align: center;
    border: 1px solid red;
    border-radius: 0.2em;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -0.75em;
    cursor: pointer;
}